.movie-categories {
    color: #f1f1f1;
    font-size: 0.9rem;
    font-style: italic;
    display: flex;

    width: 100%;

    margin: 2% 0 2% 17%;
}

.selected-category {
    margin: 10px 0 0 20px;
    display: flex;
    height: fit-content;
}
.selected-category p {
    display: inline;
}
.selected-category img {
    margin-left: 8px;
    width: 15px;
    filter: invert(48%) sepia(95%) saturate(639%) hue-rotate(125deg) brightness(97%) contrast(98%);
}