.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
}

.buttons {
    display: flex;
    align-items: center;
}

.buttons button {
    margin: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #313131;
    color: #f1f1f1;
    transition: all 0.2s ease-in-out;
}
.buttons button:hover {
    background-color: #434343;
}